.contentContainer {
    /* background-image: url('/images/paperBackground.jpg'); */
    background-color: beige;
    width: 90%;
    margin: 1rem;
    text-align: center;
    border-style: outset;
}

.monitorTitle {
    border: 1;
    color: black;
    margin: 1em;
    border-bottom-style: solid;
}

.searchBarMonitor {
    margin: 0 1em 1em 1em;
    text-align: left;
    color: rgb(120, 120, 120);
    border: 2px solid black;
}