.apptContainer {
    background-color: #303C6C;
    margin: 0 1.7rem 1rem 1.7rem;
}

.apptListHeader {
    display: flex;
    padding:0.75rem;
    font-size: 1.5em;
    /* margin-bottom: 0.1rem; */
    background-color: #F4976C;
    text-align: center;
}

.apptColumnProfileHeader {
    flex: 3;
}

.apptColumnDateHeader {
    flex: 1;
}

.apptColumnTitleHeader {
    flex: 2;
}

.apptListContent {
    background-color: #FBE8A6;
    display: flex;
    font-size: 1.1em;
    margin-bottom: 0.1rem;
    /* border-style: outset; */
    cursor: pointer;
}

.apptColumnProfileContent {
    flex: 3;
}

.apptColumnDateContent {
    flex: 1;
    text-align: center;
    /* border-right-style: outset; */
}

.apptColumnTitleContent {
    flex: 2;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions button {
    margin-top: 1rem;
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel button {
    margin-top: 1rem;
    border: 0;
    background: #de2446;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.neutral button {
    border: 0;
    background: #e6e6e6;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.recordTextArea {
    display: flex;
    justify-content: center;
    align-items: center;
}