.apptContainer {
    background-color: white;
    width: 90%;
    margin: 1rem;
}

.apptListHeader {
    display: flex;
    font-size: 1.5em;
    border-style: outset;
}

.apptColumnProfileHeader {
    flex: 3;
}

.apptColumnDateHeader {
    flex: 1;
}

.apptColumnTitleHeader {
    flex: 2;
}

.apptListContent {
    display: flex;
    font-size: 1.1em;
    border-style: outset;
}

.apptColumnProfileContent {
    flex: 3;
}

.apptColumnDateContent {
    flex: 1;
    text-align: center;
    border-right-style: outset;
}

.apptColumnTitleContent {
    flex: 2;
    text-align: center;
}
