.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #202020;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  border: 4px solid #D2FDFF;
  color: #303C6C;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-decoration: underline;
  height: 100%;
}

.nav-links:hover {
  background-color: #303C6C;
  color: #D2FDFF;
  transition: all 0.325s ease-out;
  text-decoration: none;

}

.fa-bars {
  color: #202020;
}

.menu-icon {
  display: none;
}